<!DOCTYPE html>
<html>
  <head>
    <title>myPin</title>
    <%= csrf_meta_tags %>
    <script src="https://kit.fontawesome.com/9e57d063f3.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
          user: current_user).html_safe %>
      </script>
    <% end %>
    <script type="text/javascript">
      window.logo2URL = "<%= image_url('logo2.png') %>";
      
    </script>
  </head>

  <body> 
    <%= yield %>
  </body>
</html>
